version: '3.8'

services:
  postgres:
    build:
      context: .
      dockerfile: Postgres.Dockerfile
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    volumes:
      - embedding_volume:/var/lib/postgresql/data

volumes:
  embedding_volume:
    driver: local